/*
CSS for login page
*/

#container {
    align-items:stretch;
    width: 100%;
    height: auto;
    margin: 5%;
    margin-right:auto;
    margin-left: auto;
    background-color: #625777;

    box-sizing:content-box;
    box-shadow: 0px 0px 12px #625777;
}
.fa-check-circle-o{
    background-color:#978fa8;
    color: aqua;
    width: 267px;
    height: 68px;

}
#tabbox{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #fff;
   
}
.tab{
    display:block;
    width: 50%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    -webkit-border-bottom-left-radius:20px;
    -webkit-border-bottom-right-radius: 20px;
    text-transform:uppercase;
}

#tabbox a{
    
    float: left;
    margin-left: 0px;
}

.select{
 
}

#signupbox {
     display: none;
   /* padding: 15px; */
    margin: auto;
    
}

.txtfield{
    background: ;
    border:none;
    border-radius: 5px;
    width: 100%;
    height: 27px;
    padding-left: 30px;
    
}

#in_user_name{
    background-color: transparent;
    padding-left: 25px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
}
#in_user_pwd{
    background-color: transparent;
    padding-left: 25px;
}
#up_user_name{
    background-color: transparent;
    padding-left: 25px;
}
#up_user_email{
    background-color: transparent;
    padding-left: 25px;
}
#up_user_pwd{
    background-color: transparent;
    padding-left: 25px;
}
.signinbox{
    background-color: transparent;
}
.username1 span {
            position: absolute;
            color: black;
            left: 10px;
            top: 8px;
            font-size: 20px;
    width: 20px;
    height: 20px;
        
        }
.btn{
    display:block;
    padding: 10px;
    border-radius: 7px;
    background-color: #fff;
    color: #000;
    font-size: 15px;
    margin: 0px 0px 0px 11px;
    box-shadow: 0px 0px 5px #fff;
    width: 244px;
}

.username1 {
            position: relative;
            width: 90%;
            margin: 15px auto;
        }
.username1 input {
            width: 100%;
            padding: 10px 5px 10px 40px;
            display: block;
            border: 1px solid #EDEDED;
            border-radius: 4px;
            transition: 0.2s ease-out;
            color: #a1a1a1;
        }
.username1 input:focus {
            padding: 10px 5px 10px 10px;
            outline: 0;
            border-color: #FF7052;
        }
.username2 {
            position: relative;
            width: 90%;
            margin: 15px auto;
        }
.username2 input {
            width: 100%;
            padding: 10px 5px 10px 40px;
            display: block;
            border: 1px solid #EDEDED;
            border-radius: 4px;
            transition: 0.2s ease-out;
            color: #a1a1a1;
        }
.username2 input:focus {
            padding: 10px 5px 10px 10px;
            outline: 0;
            border-color: #FF7052;
        }
.username2 span {
            position: absolute;
            color: black;
            left: 10px;
            top: 8px;
            font-size: 20px;
    width: 20px;
    height: 20px;
        
        }
.username1 input[type="text"]
.username1 input[type="password"]
.username1 input[type="email"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
}
#signinform input[type="text"]
#signinform input[type="password"]
#signinform input[type="email"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
}
#signinbox{
    padding: 15px;
    margin: auto;
}