/* 
Created & Implemented by: Venkata Chakradhar Reddy Challa
Description: Contains CSS styles for main AR World view
*/ 


.desc {
    background: transparent;
        border: 0px;
}

.logoutLblPos{
   position:fixed;
   right:10px;
   top:5px;
}